
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 100;
}

body {

}

.header {

}

ul {

}

a {

} 

.container-one {

}

.sign-up {

}

.container-two {

}

.card {

}

.container-three {

}

.container-four {

}

.sign_up_02 {

}

.footer {
    
}