body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Times New Roman', Arial;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

ul { 
    list-style-type: none;
    display: flex;
}

a { 
    text-decoration: none;
    color: #E5E7EB;
    margin: 5px;
    font-weight: 300;
}

.container-one {
    color: #E5E7EB;
    background-color: #1F2937;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.heading_container_one {
    max-width: 450px;
}

.text_container_one {
    max-width: 480px;
    font-size: 17px;
}

.img {
    height: 200px;
    width: 450px;

}

.sign_up {
    background-color: #3882F6;
    color: white;
    padding: 7px 15px;
    border-style: none;
    border-radius: 3px;
    font-weight: 600;
}

.heading_2 {
    text-align: center;
    margin: 25px;
}

.container-two {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 30px;
}

img {
    height: 170x;
    width: 155px;
}

.image_text {
    margin-top: 5px;
    max-width: 130px;
}

.container-three {
    background-color: #E5E7EB;
    padding: 100px;
    margin-top: 30px;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.author {
    margin: 15px;
    color: black;
    font-weight: 500;
    text-align: right;

}

.container-four {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 800px;
    padding: 20px;
    margin: 40px auto;
    border-style: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign_up_02 {
    border: 2px solid white;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px;
    color: white;
    font-weight: 550;
    height: 37px;
    width: 90px;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    font-size: small;
}