
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 100;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 24px;
}

ul {

}

a {

} 

.container-one {

}

.sign-up {

}

.container-two {

}

.card {

}

.container-three {

}

.container-four {

}

.sign_up_02 {

}

.footer {

}